.container {
  transition: all 1.5s ease;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  background-color: rgba(197, 197, 197, 0.5);
}
.wrapper {
  position: relative;
  width: 500px;
  background-color: #fff;
  border-radius: 20px;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.title {
  font-weight: 500;
}
.item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}
.label {
  margin-bottom: 10px;
}
.input {
  height: 40px;
  padding-left: 1rem;
}
.textarea {
  padding: 5px 10px;
}
.button {
  border: none;
  background: teal;
  color: #fff;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}
